*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background:  rgb(111, 123, 155);
    }

body {
    margin: 0;
    padding: 0;
 
}

/* 1. MENU  */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(56, 63, 81);
    color: white;
}

/* 1a. nav bar */
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
} 
/* 1b. Unorder list */
.navbar-links li {
    list-style: none;

}
/* 1b. Unorder list */
.navbar-links li a {
    text-decoration: none;
    color: white;
    background: rgb(56, 63, 81);;
    padding: 1rem;
    display: block;

}
/* 1a b. menu / nav bar*/
.navbar-links li a:hover {
    background-color: rgb(88, 49, 1);
    color: tomato;

}

:target {
    border: 5px solid blue;
}

/* 2. Portfolio (Name) */
.portfolio {
    display: flex;
    justify-content: center;
    gap: 1%;
}
/* 2a. Span */
.portfolio span {
    color: tomato;
}
/* 3. Image */
.picprofile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 2%;
   
}
/* 3. About me section */
.section{
    display: flex;
    flex-direction: row;
    padding: .5rem 1rem;
    margin-top: 2%;

}
/* 3a. About me section */
section h2 {
    display: inline-flex;

}
/* 3b. About me span */
.section span {
    color: tomato;
}
/* 3c. About me */
.me {
    display: flex;
    padding: .5rem 1rem;
}
/* 3d. About me p */
.me p {
    margin-right: 5%;
    padding: .5rem;
    
}

/* 3d. About me p */
.me p:hover{
    color: tomato;;
}
/* 4. Flexbox container (Parent) */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 5%;

}

/* 4a flexbox child */
.fbox{
    width: 200px;
    height: 200px;
    background:rgb(56, 63, 81);   
}

.fbox a {
    background: rgb(56, 63, 81);;
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 75px;

    
    

}

.fbox h3 {
    background: rgb(56, 63, 81);;
    display: flex;
    color: white;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}


/*5. Contact me  */
.footer{
    background:rgb(56, 63, 81);;
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: center;
    flex-wrap: wrap;
    
}

.footer h2{
    position: relative;
    right: 10%;
    top: 5%;
    display: inline-block;
    height: 36px;
    background: rgb(56, 63, 81);;
   
}

.footercontactme{

    background: rgb(56, 63, 81);;
    align-self: center;

}



.footer span {
    color: tomato;
    background: rgb(56, 63, 81);;
}

.footer h2 strong {
    background: rgb(56, 63, 81);
    vertical-align: -webkit-baseline-middle;
}

.footercontactme ul {
    margin: 0;
    padding: 0;
    display: flex;
} 

.footercontactme li {
    list-style: none;

}

.footercontactme li a {
    text-decoration: none;
    color: white;
    background: rgb(56, 63, 81);
    padding: 1rem;
    justify-content: center;
    display: block;
    font-size: 18px;

}

.footercontactme li a:hover {
    background-color: rgb(56, 63, 81);
    color: tomato;

}

.card-group{
    color: white;
    background-color: rgb(64, 74, 107);
}

h5.card-title{
    text-align: center;
}

a.card-text{
    color: white;
    text-decoration: none;
    text-align: center;
}

a.card-text:hover{
    color: tomato;

}



@media screen and (max-width: 998px) {
    /* 1. MENU  */
    .navbar {
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
     
    }

    /* 1a. nav bar */
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
     
    }

    /* 1b. Unorder list */
    .navbar-links li {
        align-items: center;

    }

    /* 1b. Unorder list */
    .navbar-links li a {
        padding: .5rem 1rem;
    }

    /* 3. Image */
    .picprofile {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        right: 5%;
        top: 2%;
       
    }
    /* 3d. About me p */
    .me p {
        color:black;
    }
    /* 3d. About me p */
    .me p:hover{
        color: tomato;
        background: rgb(231, 213, 181);

    }

    /* 4. Flexbox container (Parent) */
    .container {
        width: 100%;
        height: 360px;
        padding: 17px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
    }
    
    /* 4a flexbox child */

    .fbox{
        width: 150px;
        height: 150px;
        background: rgb(188, 138, 95);
        
        }       

        /*5. Contact me  */
        .footer {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            bottom: 0;
           
        }
        .footercontactme ul {
        margin: 0;
        padding: 0;
        display: flex;
        } 

        .footer h2{
            position: relative;
            right: 13%;
            font-size: 18px;
           
        }
      
        .footercontactme ul {
            width: 100%;
            flex-direction: row;

            
        }
    
        .footercontactme li {
            align-items: center;
          
        }
    
        .footercontactme li a {
            padding: .5rem 1rem;
         
        }

        #contactme {
            background: rgb(56, 63, 81);
            margin-left: 70px;
            margin-top: 5px;
        }
            
}